[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
flake8 = "*"

[packages]
django = "*"
environs = {extras = ["django"],version = "*"}
djangorestframework = "*"
gunicorn = "*"
django-cors-headers = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
pillow = "*"
twilio = "*"
